.comments{
	margin-top: 1rem;
	display: flex;
	box-sizing: border-box;
	padding-left: 1rem;
	padding-right: 1rem;
}

.comments img{
	height: 3rem;
}

.user-info{
	margin-left: 1rem;
}

.user-name{
	color:1.2rem;
	height: 2rem;
	line-height: 2rem;
}

.comments-content{
	color:#444;
	font-size: 1rem;
}


