.long-nav{
	width: 100%;
	display: flex;
	overflow: scroll;
	height: 4rem;
	line-height: 4rem;
}

.short-nav{
	width: 100%;
	display: flex;
	overflow: hidden;
	justify-content: space-between;
}

.outer-container{
	height: 3rem;
	overflow: hidden;
}

nav div{
	box-sizing: border-box;
	min-width: 4rem;
	text-align: center;
}

