.long-nav{
	width: 100%;
	display: flex;
	overflow: scroll;
}

.short-nav{
	width: 100%;
	display: flex;
	overflow: hidden;
	justify-content: space-between;
}

.outer-container{
	height: 4rem;
	overflow: hidden;
}

nav div{
	box-sizing: border-box;
	min-width: 4rem;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
}

.active{
	color:#ff4965;
	border-bottom: 0.2rem solid #ff4965;
}
