.head{
	text-align: left;
	box-sizing: border-box;
	padding-left: 0.5rem;
	position: relative;
	display: flex;
	border-top: 0.2rem solid #E8FBFC;
}

.head span{
	margin-left: 1rem;
	color:#555;
}

.right{
	position: absolute;
	right: 0.5rem;
	top:0.4rem;
	color:#555;
}

.head img{
	width: 2rem;
	height: 2rem;
	line-height: 3rem;
	margin-right: 1rem;
}

section{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}